/* Start of Home Section */

body, html {
    margin: 0;
    padding: 0;
}

.section-with-video {
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    padding-top: 3.5vh;
    position: relative;
    text-align: center;
    font-family: "Roboto";
}

.section-with-video h1 {
    color: #FFCB05;
    font-size: 5rem;
}

.section-with-video h2 {
    color: #FFFFFF;
    font-size: 3rem;
}

.section-with-video h1, .section-with-video h2 {
    text-shadow: 2.5px 2.5px 2.5px #003A70, -2.5px -2.5px 2.5px #003A70, 2.5px -2.5px 2.5px #003A70, -2.5px 2.5px 2.5px #003A70, 5px 5px 5px #3D7DCA, -5px -5px 5px #3D7DCA, 5px -5px 5px #3D7DCA, -5px 5px 5px #3D7DCA;
}

#home-background, #gallery-background, #choose-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-bottom: 10px ridge black;
}

/* End of Home Section */

/* Start of "Start!" Button */

button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  margin-top: 10px;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
}
50% {
    transform: translateX(5px);
}
100% {
    transform: translateX(0);
}
}

@keyframes box {
  0% {
    box-shadow: #27272c;
}
50% {
    box-shadow: 0 0 25px var(--clr);
}
100% {
    box-shadow: #27272c;
}
}

/* End of "Start!" Button */

/* Start of Gallery Section */

#gallery-section {
    height: 200vh;
}

#gallery-section h1 {
    padding-top: 4vh;
}

.card-container {
    width: 95%;
    margin: auto;
}

.col {
    padding-top: 4vh;
}

.card img {
    border-radius: 0;
}

/* End of Gallery Section */

/* Start of Choose Section */

#choose-section {
    height: 125vh;
}

#choose-section h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.form-section {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.form-section:last-child {
    float: right;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#yourTrainerName, #enemyTrainerName {
    border-radius: 5px;
    border: 5px ridge silver;
}

#yourPokemon, #enemyPokemon {
    height: 40px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: 5px ridge silver;
}

.clear {
    clear: both;
}

/* End of Choose Section */
